<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="qyinfo" type="System.Configuration.NameValueSectionHandler" />
    <section name="ft_info" type="System.Configuration.NameValueSectionHandler" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Hotel_app.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="conStr" value="Data Source=.;Initial Catalog=hotel_data;User ID=sa;password=sa" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <!--add name="connStr" connectionString="Data Source=.;Initial Catalog=hotel_data;User ID=hotel_data;password=hotel_data"/-->
    <add name="connStr" connectionString="Data Source=.;Initial Catalog=hotel_data;User ID=hotel_data;password=hotel_data" />
  </connectionStrings>
  <qyinfo>
    <add key="is_inital" value="false" />
    <add key="qymc" value="测试" />
    <add key="yydh" value="测试" />
    <add key="qybh" value="测试" />
    <add key="appversion" value="xx" />
    <add key="webServer" value="http://localhost:50703/" />
    <!--<add key="webServer"   value="http://192.168.1.111:801/"/>-->
    <add key="shlz" value="false" />
    <!-- 是否在联房时是否要马上联账 -->
    <add key="sh_ds" value="true" />
    <!-- 夜审时是否要把所有的在住房设成打扫房 -->
    <add key="ft_sh_ztsx" value="true" />
    <!-- 房态是否要自动刷新,配合数据库里的Qcounter 的 ft_auto_refresh一起使用 -->
    <add key="is_contain_wx" value="true" />
    <!-- 是否包含维修房 -->
    <add key="Qskyd_www_open" value="true" />
    <!-- 设置是否要弹出网上预订中心的单据出来 -->
    <add key="ydzxPopTime" value="2" />
    <!--预定中心订单弹出的时间间隔,注意这里以分钟计时的,且设置成整数-->
    <add key="systemPath" value="xxxxx" />
    <add key="ErrorlogFileName" value="D:\新建文本文档.log" />
    <add key="WriteErrorLogFileName" value="" />
    <!--会员验证码的长度-->
    <add key="VerifyCode_length" value="5">
    </add>
    <!--是否启用会员验证(如果全部启用,请直接设置enable_checkMember，如果只启用一部分，那么请设置enable_checkMember_yd或者dj)-->
    <add key="enable_checkMember" value="true">
    </add>
    <add key="enable_checkMember_yd" value="true">
    </add>
    <add key="enable_checkMember_dj" value="true">
    </add>
  </qyinfo>
  <ft_info>
    <add key="big_horizon_NO" value="13" />
    <!-- 房态的列的数量 -->
    <add key="big_pic_space" value="5" />
    <!-- 房态房间间隔 -->
    <add key="big_pic_height" value="95" />
    <!-- 房态房间高度，最好不要去改 -->
    <add key="big_pic_width" value="86" />
    <!-- 房态房间宽度，最好不要去改 -->
  </ft_info>
  <applicationSettings>
    <Hotel_app.Properties.Settings>
      <setting name="Hotel_app_cn_b2m_eucp_sdkhttp_SDKService" serializeAs="String">
        <value>http://sdkhttp.eucp.b2m.cn:80/sdk/SDKService</value>
      </setting>
    </Hotel_app.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>