<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--数据库设置Start-->
  <appSettings>



    <!--DBUtility文件夹里数据库连接配置-->
    <!--数据库设置Start-->
    <!--Access or MsSql-->
    <add key="DBType" value="MsSql"/>
    <add key="MsSql" value="server=192.168.1.251;database=Hotel_xjk;uid=sasa;pwd=123456789;"/>
    <!--数据库设置End-->
    <!--DBUtility文件夹里数据库连接配置-->


    <!--当前显示应用模组 0:显示所有应用 其它显示相关应用 -->
    <add key="ApplicationID" value="0"/>
    <!--显示出错详细信息在用户页面(开发环境设置为True,在生产环境请设置为false)-->
    <add key="DispError" value="true"/>
    <!--日志目录 默认为当前目录Manager\Log -->
    <add key="LogDir" value="Manager\Log\"/>
    <!--用户在线过期时间 (分)默认30分 如果用户在当前设定的时间内没有任何操作,将会被系统自动退出 设为0则强制限出功能无效(仅限于开发模式使用)-->
    <add key="OnlineMinute" value="0"/>
    <!--在线统计数据保存环境 0:缓存中 1:数据库中-->
    <add key="OnlineCountType" value="0"/>

    <!--实体对象内容缓村的时间（分钟）用于BLL层的缓存实体-->
    <add key="ModelCache" value="30"/>

    <!--默认网站的网址-->
    <add key="WebUrl" value="http://www.xsly.com"/>
    <!--默认网站的网址-->
    <add key ="uploadimg" value ="upfiles\"/>

    <!--本机数据库连接-->
    <add key="MsSqljd" value="Persist Security Info=False;server=192.168.1.251;database=Hotel_xjk;uid=sasa;pwd=123456789;"/>
    <add key="MsSqlnet" value="Persist Security Info=False;server=.;database=aspnet;uid=sa;pwd=123456;"/>
    <!--本机数据库连接-->
  </appSettings>

  <!--数据库设置Start-->

  <connectionStrings/>

  <system.web>
    <!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->


    <!--设置超里时间以秒为单位 debug要关闭-->
   
  <!--<httpRuntime maxRequestLength="10240" appRequestQueueLimit="100" useFullyQualifiedRedirectUrl="true" executionTimeout="300" />-->

    <compilation debug="true">
      <assemblies>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>






    <!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
    <!-- <authentication mode="Windows"/>  -->

    <!--Form认证设置End-->
    <!--判断权限-->
    <httpModules>
      <!--
        <add name="FrameWorkPermission" type="FrameWork.FrameWorkPermission"/>
        -->
    </httpModules>

    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
  </system.web>
</configuration>
