<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MyConfig" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <appSettings>
    <add  key="printer" value="SmartPrinter"/>
    <!--<add key="conStr"  value="Data Source=192.168.9.188;Initial Catalog=Hotel_data;User ID=czyst;password=czy751789"/>-->
    <add key="conStr"  value="Data Source=.;Initial Catalog=hotel_data;User ID=sa;password=sa"/>
    
  </appSettings>
  <MyConfig>
    <add key="qymc"   value="测试"/>
    <add key="yydh"   value="测试"/>
    <add key="xydw_sc" value="0"></add>
     <add key="xydw_xz" value="0"></add>
    <add key="hyrx_site" value="网站预订"></add>
    <add key="appversion"   value="xx"/>
    <add key="url" value="http://192.168.8.11:8011"></add>
    <add key="timeInterval"  value="30"/>
    <add key="useTime"   value="1"/>
    <add key="mr_StateSc"   value="1"/>
    <add key="ErrorlogFileName" value="d:\jdglsc\restart.log" />
    <add key="WriteErrorLogFileName" value="d:\jdglsc\error.log" />
  </MyConfig>
  <!--<appSettings>
    <add key="connectionString" value="server=.;database=Hotel_data;uid=sa;password=sa"/>
  </appSettings>-->
</configuration>